.blog__card{
  background-color: $primary-color;
  width: 350px;
  height: 650px;
  border-radius: 5px;
 -webkit-box-shadow: 1px 4px 9px -1px #000000;
box-shadow: 1px 4px 9px -1px #000000;
margin-bottom: 25px;
}

.blog__card-image{
  width: 339px;
  object-fit: contain;
}

.blog__card-heading{
  color: $white !important;
}

.blog__card p {
  color: $white;
  padding: 0 20px;
}

.blog__card a {
  color: $white;
  padding: 0 20px;
}

.blog__cards__wrap{
  display: flex;
  flex-wrap: wrap-reverse;
}
