.blog__card{
  background-color: $primary-color;;
  width: 350px;
  height: 510px;
  border-radius: 5px;
 -webkit-box-shadow: 1px 4px 9px -1px #000000;
box-shadow: 1px 4px 9px -1px #000000;
}

.blog__card-image{
  width: 339px;
  object-fit: contain;

}

.blog__card-heading, .blog__card-par{
  color: $white;
}

.blog__card:hover{
  box-shadow: 5px 2px 5px 3px $secondary-color;
}
