.footer {
  margin-top: 40px;
  background-color: $black;
  color: $white;
  text-align: left;
  padding: 50px 0;

    &__heading{

        font-weight: $font-weight-semibold;
        @include media-breakpoint-up(md) {
        margin-top: 95px;
      }
    }

  &__credential{
    width: 140px;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  ul{
    list-style: none;
    padding: 0;
  }

  li{
    font-size: $font-size-base;
    margin-bottom: 5px;

    @include media-breakpoint-up(md) {
      margin-bottom: 10px;
    }
  }

  a{
    color: $white;
  }
}
