.header__top{
  height: 30px;
  margin: 10px 0;

  h6{
    font-weight: $font-weight-semibold;
    font-size: 14px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 14px;
  }

  &__instagram, &__facebook{
    font-size: $font-size-base;
    transition: ease-in-out .5s;
    color: $grey;

    &:hover {
      color: $red
    }
  }
}