.nav{
  background-color: $primary;
  height: 120px;
  z-index: 100;

  &__logo {
    height: 90px;
    margin-top: 12px;
  }

  &__list{

    margin-top: 42px;
    padding-left: 0;

    ul{
      list-style: none;
      display: flex;
      padding: 0;
      justify-content: space-evenly;
    }

    .menu-main-menu-container li a{
      color: $white;
      font-size: $font-size-base;
    }
  }
}