.avatar{
    border-radius: 50%;
    border: solid 2px $white;
}

.news__card{
  -webkit-box-shadow: 2px 11px 18px -10px rgba(102, 102, 102, 1);
  -moz-box-shadow: 2px 11px 18px -10px rgba(102, 102, 102, 1);
  box-shadow: 2px 11px 18px -10px rgba(102, 102, 102, 1);
  background-color: $white;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 20% 0 20% 0;

  &__image{
    width: 100%;
    border-radius: 20% 0 0 0;
  }

  &__info {
    background-color: $red;
    padding: 8px 15px;
    opacity: .9;
    margin-top: -73px;

    &__inner{
      margin-top: 5px;
    }
  }

  &__clock{
    margin: 15px 8px 0 0;
    font-size: 16px;
  }

  &__author{
    margin-top: 15px;
  }


  &__link {
    color: $primary;
    font-size: 40px;
    transition: ease-in-out .2s;
    cursor: pointer;

    &:hover, &:focus{
      color: $secondary;
    }
  }
}


