.main__btn{
  background-color: $secondary;
  color: $white;
  border-style: none;
  border-radius: $border-radius;
  font-size: 14px;
  padding: 10px;
  font-weight: $font-weight-semibold;
  transition: ease-in-out .5s;

  &:hover, &:focus{
    background-color: $grey;
    color: $white;
  }
}

.facebook__share{
  background-color: #3B5998;
  color: $white;
  font-size: $font-size-sm;
  border-radius: $border-radius;
  border-style: none;
  padding: 8px 12px;
}

.instagram__share{
  background-color: #C13584;
  color: $white;
  font-size: $font-size-sm;
  border-radius: $border-radius;
  border-style: none;
  font-size: $font-size-sm;
  padding: 8px 12px;
}
