.main__btn{
  background-color: $secondary;
  color: $white;
  border-style: none;
  border-radius: $border-radius;
  font-size: 14px;
  padding: 10px;
  font-weight: $font-weight-semibold;
  transition: ease-in-out .5s;

  &:hover, &:focus{
    background-color: $grey;
  }
}