.lower__banner{
  height: 100%;
  margin-bottom: 80px;
  padding-bottom: 70px;

  h2{
    margin-top: 40px;
    line-height: $line-height-base;
    font-weight: $font-weight-semibold;
    font-size: 30px;

    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }
}