.lower__banner{
  height: 100%;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;


  &__heading{
    margin-top: 40px;
    line-height: $line-height-base;
    font-weight: $font-weight-semibold;
    font-size: 30px;

    @include media-breakpoint-up(lg) {
      font-size: 45px;
    }
  }
}