.masthead{

  background-color: $white;
  overflow: hidden;
  height: 680px;
  margin-bottom: 0;

  @include media-breakpoint-up(md) {
    height: 50% !important;
  }

  &__subheading{
    margin-top: 30px;
    font-weight: $font-weight-semibold;
    line-height: $line-height-base;
    font-size: 20px;

      @include media-breakpoint-up(md) {
        margin-top: 70px;
      }
    }

  &__heading{
    font-size: 40px;
    font-weight: $font-weight-semibold;
    line-height: 1.3;

    @include media-breakpoint-up(md) {
      font-size: 40px;
      margin-bottom: 50px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }

  &__image {
    height: 550px;
    width: 106%;
    object-fit: contain;
    margin-top: -180px;

    @include media-breakpoint-up(md) {
      overflow: visible;
      width: 140%;
      height: 90%;
      margin-top: -50px;
      object-fit: contain;
    }
  }
}

