.navigation {

  //burger
  position: relative;

  &__burger {
    display: block;
    z-index: 120;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 110px 50px 0 0;

    @include media-breakpoint-up(lg) {
      margin: 120px 40px 0 0;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__burger div {
    width: 25px;
    height: 3px;
    background-color: $white;
    margin: 5px;
    transition: all 0.3s ease;
  }

  // Mobile nav styling

  &__list {
    background-color: $black;
    margin: 0;
    height: 100% !important;
    z-index: 2;
    width: 100% !important;
    padding: 150px 0;
    margin-left: -5px !important;
    padding-right: 10px;

    @include media-breakpoint-up(lg) {
      height: 0;
      padding-top: 45px;
      background-color: transparent;
    }

    li {
      list-style: none;

      a {
        color: $white;
        font-size: 35px;

        &:hover, &focus{
          color: $red;
          transition: ease-in-out .5s;
        }

        @include media-breakpoint-up(lg) {
          font-size: 20px;
        }
      }
    }
  }

   // Mobile nav

  &__dropdown {
    z-index: 2;
    top: -130%;
    position: fixed;
    width: 105vw;
    height: 100vh;
    margin-left: -4%;

    @include media-breakpoint-up(lg) {
      top: 0;
      position: relative;
    }
  }
}
// WP menu desktop

.navigation__list .menu-main-menu-container #menu-main-menu {

  @include media-breakpoint-up(lg) {
    display: flex;

    li {
      margin: 10px;

      a {
        color: $white;
      }
    }
    li:last-child {

      a:last-child {
        background-color: $red;
        color: $white;
        border-style: none;
        border-radius: $border-radius;
        padding: 10px 20px;
        font-weight: $font-weight-semibold;
        transition: ease-in-out .5s;
        margin-right: 0;
        cursor: poiner;

        &:after {
          content: url('assets/images/icons/cevron.png');
        }

        &:hover, &:focus {
          background-color: $red;
          color: $white;
        }
      }
    }
  }
}


// nav-animations and JS classes

.open{
  top: 0;
  z-index: 100;
}

.toggle{
  .line__one{
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .line__two{
    opacity: 0;
  }
  .line__three{
    transform: rotate(45deg) translate(-5px, -6px);
  }
}


