// Notifications footer
footer{
      .footer__sign__up{
      display: flex;
      justify-content: space-between;

}

.top__footer{
  border-top: solid $primary-color 2px;
  background-color: $secondary-color;
}

.sign__up__p{
        color:$white;
        font-size: 18px;
        margin-left: 32px;
}

.sign__up__input{
        width: 400px;
        height: 40px;
        border-radius: 5px;
        margin-right: 32px;
      }
}


@media (max-width: 960px){
  .top__footer{
    display: none !important;
  }
}

// main footer

.main__footer{
  background-color: $secondary-color;
  background-color:$primary-color;
  width: 100%;
  color: $white;
  padding: 25px;
}


.footer__logo{
  width: 300px;
  margin-left: 35px;
}

.footer__contact, .footer__blog__links, .footer__blog__links__blogs{
  list-style: none;
  font-size: 18px;
}

.fa-phone, .fa-envelope{
  font-size: 20px;
}

.fa-facebook-f, .fa-instagram{
  font-size: 35px;
  color: $white;
}

.fa-facebook-f:before, .fa-facebook:before {
    margin-right: 15px;
}

.footer__sm__logo{
  width: 100px;
  margin-left: 40px !important;
}

.companys__footer{
      display: flex;
      justify-content: space-evenly;
      background-color: $secondary-color;
      color: $white;
      padding-top:15px;
      border: solid 1px $white;
}

@media (max-width: 960px){
  .footer__blog__links__blogs,.footer__blog__links,  .lower__footer__logo,.lower__footer__logo{
    display: none !important;
  }
  .companys__footer {
    padding: 10px;
  }
  .mobile__center{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__logo{
    margin-left: 35px;
  }
  .footer__contact{
    text-align: center;
  }
  .companys__footer {
    text-align: center;
  }
}
