.text__img{
  width: 500px;
  border-radius: 5px;
   -webkit-box-shadow: 1px 4px 9px -1px #000000;
  box-shadow: 1px 4px 9px -1px #000000;
}

.text__img__par{
   line-height: 1.6;
}


.text__container{
width: 500px;
margin-left: 25px;
fontt-size: 20px;
}
