body {
  font-family: 'Poppins', sans-serif;
}

.blog__card {
  background-color: #2E2E30;
  width: 350px;
  height: 510px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 4px 9px -1px #000000;
  box-shadow: 1px 4px 9px -1px #000000;
}

.blog__card-image {
  width: 339px;
  -o-object-fit: contain;
     object-fit: contain;
}

.blog__card-heading, .blog__card-par {
  color: #fff;
}

.blog__card:hover {
  -webkit-box-shadow: 5px 2px 5px 3px #c90808;
          box-shadow: 5px 2px 5px 3px #c90808;
}

.testimonial__card {
  padding: 5px;
  width: 350px;
  background-color: #2E2E30;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 4px 9px -1px #000000;
  box-shadow: 1px 4px 9px -1px #000000;
}

.testimonial__card-par {
  color: #fff;
}

.testimonial__card-star {
  width: 25px;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 510px 0;
  border-bottom: solid 3px #c90808;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 42px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.masthead__button {
  background-color: #2E2E30;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  margin-right: 20px;
  color: #fff;
  border: solid 2px #c90808;
  text-align: center;
  text-decoration: none;
}

.masthead__button:hover {
  background-color: #c90808;
  border: solid 2px #2E2E30;
  text-decoration: none;
  color: #fff;
}

.header, .header-fixedb, .sticky {
  background-color: #2E2E30;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 1px 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: #c90808 2px solid;
}

.navbar-nav {
  margin-top: 45px;
}

.menu-item a {
  margin-top: 25px;
  color: #fff !important;
  margin: 20px;
  font-size: 18px;
}

.navbar-toggler {
  border: solid 2px #c90808 !important;
}

footer .footer__sign__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .top__footer {
  background-color: #c90808;
}

footer .sign__up__p {
  color: #fff;
  font-size: 18px;
  margin-left: 32px;
}

footer .sign__up__input {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  margin-right: 32px;
}

@media (max-width: 960px) {
  .top__footer {
    display: none !important;
  }
}

.main__footer {
  background-color: #2E2E30;
  width: 100%;
  color: #fff;
  padding: 25px;
}

.footer__logo {
  width: 300px;
  margin-left: 35px;
}

.footer__contact, .footer__blog__links, .footer__blog__links__blogs {
  list-style: none;
  font-size: 18px;
}

.fa-phone, .fa-envelope {
  font-size: 20px;
}

.fa-facebook-f, .fa-instagram {
  font-size: 35px;
  color: #fff;
}

.fa-facebook-f:before, .fa-facebook:before {
  margin-right: 15px;
}

.footer__sm__logo {
  width: 100px;
  margin-left: 40px !important;
}

.companys__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #c90808;
  color: #fff;
  padding-top: 15px;
}

@media (max-width: 960px) {
  .footer__blog__links__blogs, .footer__blog__links, .lower__footer__logo, .lower__footer__logo {
    display: none !important;
  }
  .companys__footer {
    padding: 10px;
  }
  .mobile__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo {
    margin-left: 35px;
  }
  .footer__contact {
    text-align: center;
  }
  .companys__footer {
    text-align: center;
  }
}

.text__img {
  width: 500px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 4px 9px -1px #000000;
  box-shadow: 1px 4px 9px -1px #000000;
}

.card__heading {
  color: #fff;
}

.text__container {
  width: 500px;
  background-color: #2E2E30;
  color: #fff;
  padding: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 4px 9px -1px #000000;
  box-shadow: 1px 4px 9px -1px #000000;
}
/*# sourceMappingURL=style.css.map */