@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Open+Sans&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800&family=Sofia&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  font-weight: 400;
  text-decoration: none;
  transition: ease-in 0.5s;
}
a:hover, a:focus {
  color: #F70D1A;
}

p {
  color: #191414;
  line-height: 1.5;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

ul {
  color: #CBD5E1;
}
ul li {
  line-height: 1.5;
}

.projects li::before {
  content: "•";
  color: #F70D1A;
  font-weight: 700;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

span {
  color: #F70D1A;
}

.social__icon {
  color: #ffffff;
  font-size: 35px;
  transition: ease-in-out 0.5s;
}
.social__icon:hover, .social__iconfocus {
  color: #F70D1A;
}

.text-block p:last-of-type {
  margin-bottom: 0;
}

.text-xs {
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.text-sm {
  font-size: 1rem;
  line-height: 1.375;
}

.fw-medium {
  font-weight: 600 !important;
}

.text-white {
  color: #ffffff !important;
}

.text-inherit {
  color: inherit !important;
}

.to-animate {
  opacity: 0;
  transform: scale(0.6);
  transition: transform 0.4s ease, opacity 0.3s ease;
}
.to-animate.in {
  opacity: 1;
  transform: scale(1);
}

.block-white-bg {
  background-color: #ffffff;
}
.block-white-bg + .block-white-bg {
  padding-top: 0 !important;
}

.navigation__burger {
  display: block;
  z-index: 200;
  position: absolute;
  top: 85px;
  right: 30px;
  cursor: pointer;
}
.navigation__burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .navigation__burger div {
    display: none;
  }
}

.toggle .line__one {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line__two {
  opacity: 0;
}
.toggle .line__three {
  transform: rotate(45deg) translate(-5px, -6px);
}

.btn__primary {
  background-color: #F70D1A;
  border-radius: 30px;
  border-style: none;
  color: #ffffff !important;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  width: 250px;
}

.btn__secondary {
  background-color: #010100;
  border-radius: 30px;
  border: solid 1px #ffffff;
  color: #ffffff !important;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
}

.contact__form {
  background-color: #010100;
  border-radius: 25px;
  max-width: 100%;
  margin: 20px 0;
  padding: 50px 30px 30px 30px;
  -webkit-box-shadow: -2px 6px 14px -2px rgba(1, 1, 0, 0.71);
  box-shadow: -2px 6px 14px -2px rgba(1, 1, 0, 0.71);
}
@media (min-width: 992px) {
  .contact__form {
    padding: 50px 45px 45px 45px;
    margin-top: -250px;
  }
}
.contact__form__heading {
  color: #ffffff;
  font-weight: 400;
  font-size: 32px;
}
.contact__form__notice {
  color: #ffffff;
  margin-top: 15px;
}
.contact__form__terms {
  margin-top: 30px;
  color: #ffffff;
}
.contact__form__terms span {
  color: #F70D1A;
}
.contact__form__btn {
  margin-top: 20px;
  background-color: #F70D1A;
  color: #ffffff;
  margin-bottom: 0;
  transition: ease-in-out 0.5s;
  padding: 15px;
  font-size: 1.25rem;
  border-radius: 30px;
}
.contact__form__btn:hover, .contact__form__btn:focus {
  background-color: #ffffff;
  color: #010100;
}

.input-container {
  position: relative;
  margin-bottom: -20px;
}

.input-container i {
  position: absolute;
  top: 70%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #010100;
  margin: 0;
}

.input-container input,
.input-container select {
  padding-left: 35px;
}

.input-container textarea {
  padding: 10px;
}

.input-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E") no-repeat right 10px center;
  background-size: 12px;
}

input, select {
  width: 100%;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
}

textarea {
  width: 100%;
  border-radius: 10px;
  border-style: none;
  height: 180px;
  margin-top: 30px;
}

::placeholder {
  color: #010100;
}

hr {
  height: 2px;
  background-color: #F70D1A;
  margin-bottom: -5px;
}

.wpcf7-response-output {
  color: #ffffff;
  border-color: #F70D1A !important;
  padding: 10px;
  border-radius: 5px;
}

.header {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header__top {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
}
.header__icons {
  color: #ffffff;
  margin: 12px 5px;
  font-size: 1rem;
}
.header__contact {
  color: #ffffff;
  margin: 10px 5px;
  text-decoration: none !important;
}
.header__logo {
  width: 110px;
}
.header__links__container {
  position: fixed;
  padding-top: 80px;
  right: -100%;
  background: #010100;
  backdrop-filter: blur(0px);
  margin-top: 100px;
  height: 100vh;
  transition: right 0.5s ease-in;
}
@media (min-width: 768px) {
  .header__links__container {
    padding-top: 0;
    height: 100%;
    right: 0;
    height: 0;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    margin-top: 20px;
    transition: right 0s;
  }
}
.header__links {
  text-align: center;
}
@media (min-width: 768px) {
  .header__links {
    display: flex;
    justify-content: end;
  }
}
.header__links__contact {
  margin-top: 15px !important;
}
.header__links a {
  color: #ffffff !important;
  cursor: pointer;
  font-size: 40px;
  transition: 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .header__links a {
    font-size: 16px;
    margin-top: 50px;
  }
}
.header__links a:hover, .header__links afocus {
  color: #F70D1A;
}
.header__link {
  margin-top: 26px !important;
  padding: 5px 10px;
}
@media (min-width: 768px) {
  .header__link:last-child {
    background-color: #F70D1A;
    border-radius: 30px;
    border-style: none;
    color: #ffffff !important;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    text-align: center;
    min-width: 120px;
  }
  .header__link:last-child a {
    color: #F70D1A;
  }
  .header__link:last-child:hover, .header__link:last-child:focus {
    background-color: #010100 !important;
  }
}

.js__links__open {
  right: 0;
}

.footer {
  background: #010100;
  padding-top: 40px;
}
.footer__logo {
  width: 130px;
}
.footer__infomation {
  color: #ffffff;
}
.footer__heading {
  padding-top: 40px;
  color: #ffffff;
  font-weight: 400;
}
.footer__link {
  color: #ffffff;
  text-decoration: none !important;
}
.footer__icons {
  color: #ffffff;
  margin: 12px 5px;
  font-size: 1rem;
}
.footer__contact {
  color: #ffffff;
  margin: 10px 5px;
  text-decoration: none !important;
}
.footer__hr {
  background: #ffffff;
  margin-bottom: 20px;
}
.footer__base p {
  color: #ffffff;
}
.footer__social {
  background-color: #D3D3D3;
  padding: 8px;
  border-radius: 55%;
  font-size: 24px;
}

.masthead {
  background-size: cover;
  background-position: center;
  padding: 160px 0;
}
@media (min-width: 768px) {
  .masthead {
    padding: 220px 0;
  }
}
.masthead__subheading {
  color: #ffffff;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.masthead__heading {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .masthead__heading {
    font-size: 50px;
  }
}
.masthead__paragraph {
  color: #ffffff;
}
.masthead__credential {
  width: 120px;
}

.introduction__subheading {
  font-weight: 300;
  color: #D3D3D3;
}
.introduction__heading {
  font-weight: 600;
  line-height: 1.25;
}

.lower__banner {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}
@media (min-width: 768px) {
  .lower__banner {
    padding: 100px 0;
  }
}
.lower__banner__heading {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .lower__banner__heading {
    font-size: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
