// Body

html{
  scroll-behavior: smooth;
}

body{
  background: $blue;
  font-family: $font-family-base;
  overflow-x: hidden;
}

// Links
a {
  font-weight: $font-weight-normal;
}

p{
  color: #CBD5E1;
}

h3, h4,h5,h6,{
  color: $white;
  line-height: $line-height-base;
}

ul{
  color: #CBD5E1;
  li{
    line-height: $line-height-base;
  }
}

.projects li::before {
  content: "\2022";
  color: $green;
  font-weight: $font-weight-bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

span{
  color: $green;
}

.social__icon{
  color: $white;
  font-size: 35px;
  transition: ease-in-out .5s;

  &:hover, &focus{
    color: $green;
  }
}


// Text Block
.text-block {
  p:last-of-type {
    margin-bottom: 0;
  }
}

// Typography
.text-xs {
  font-size: 0.875rem; // 14px
  line-height: 1.428571428571429; // 20/14
}

.text-sm {
  font-size: 1rem;
  line-height: 1.375; // 22/16
}

.fw-medium {
  font-weight: $font-weight-medium !important;
}

// Colors
.text-white {
  color: $white !important;
}

.text-inherit {
  color: inherit !important;
}

// Animate Cards
.to-animate {
  opacity: 0;
  transform: scale(.6);
  transition: transform .4s ease, opacity .3s ease;

  &.in {
    opacity: 1;
    transform: scale(1);
  }
}

// White Block BGs
.block-white-bg {
  background-color: $white;

  & + & {
    padding-top: 0 !important;
  }
}

